{% extends "::base.html.twig" %}

{% block title %}AppBundle:Membres:edit{% endblock %}

{% block body %}

    <h1>Inscription</h1>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>

        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
    {{ form_end(form) }}

    </div>


{% endblock %}