{% extends 'base.html.twig' %}






{% block body %}




    <div class="container">



    <table>
        <tr>
            <div class="col s12">
                <ul class="tabs">
                    {% for item in cat %}

                        <li class="tab col s3"><a href="#{{ item.id }}">{{ item.name }}</a></li>






        {% endfor %}

                </ul>
            </div>
        </tr>
        <tr>
            {% for item in qcm %}

            {% endfor %}



        </tr>

    </table>
        </div>


{% endblock %}





