{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">


        <div class="row center-block">
            {% block stylesheets %}
            <style>
                .center-block{
                    text-align: center
                }
            </style>



            {% endblock %}
            <div>
                <a href="{{ path('choixQcm') }}" class="waves-effect waves-light btn-large" style="margin-top: 20%" >Voir liste QCM</a>
            </div>

            <div style="margin-top: 3%">
                <a href="{{ path('Add') }}" class="waves-effect waves-light btn-large">Nouvelle catégorie</a>
            </div>

            <div style="margin-top: 3%">
                <a href="{{ path('Add') }}" class="waves-effect waves-light btn-large">Nouvelle catégorie</a>
            </div>

            <div style="margin-top: 3%">
                <a href="{{ path('addQCM') }}"class="btn-floating btn-large waves-effect waves-light "><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>


{% endblock %}





